<div class="footer" style="margin-top:10%;color:black;text-align:center;">
    		<div class="ft_area" style="font-size:17px;">
    			<div class="ft_copy">&copy; Copyright 2018, &nbsp;Oreagon.<br /></div>
    			<div class="ft_items" style="margin-top:3px;">
    				<a href="/about/" class="ft_item"><%= lang["ui_footer_aboutus"] %></a>&nbsp;&nbsp;
    				<a href="/terms/" class="ft_item"><%= lang["ui_footer_terms"] %></a>&nbsp;&nbsp;
    				<a href="/privacy/" class="ft_item"><%= lang["ui_footer_privacy"] %></a>&nbsp;&nbsp;
    				<a href="/help/" class="ft_item"><%= lang["ui_footer_help"] %></a>&nbsp;&nbsp;
    				<a href="/developers/" class="ft_item"><%= lang["ui_footer_developers"] %></a>&nbsp;&nbsp;
    				<a href="/careers/" class="ft_item"><%= lang["ui_footer_careers"] %></a>
    			</div>
    		</div>
    </div>